/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/* Custom variables */
/* Custom styles */
html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #111;
  scroll-behavior: smooth;
  font-size: 16px; }
  @media (max-width: 1180px) {
    html {
      font-size: 14px; } }
  @media (max-width: 980px) {
    html {
      font-size: 13px; } }
  @media (max-width: 640px) {
    html {
      font-size: 12px; } }
  @media (max-width: 380px) {
    html {
      font-size: 11px; } }

*, *:before, *:after {
  box-sizing: inherit; }

.Hero,
.HeroPlaceholder {
  height: 102vh; }

.Hero {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #111;
  color: #FFF; }
  .Hero span {
    color: #0984e3; }
  .Hero-inner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    max-width: 46rem; }
  .Hero-title {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 3px #111111; }
  .Hero-tagline {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-shadow: 0 0 3px #111111; }
  .Hero-button {
    display: inline-block;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
    text-transform: uppercase;
    background: #0984e3;
    color: #FFF; }
  .Hero-more {
    display: block;
    color: #FFF;
    opacity: 0.5; }
    .Hero-more:hover {
      opacity: 0.8; }

.Portfolio {
  position: relative;
  z-index: 3;
  padding: 3rem 3rem 10rem;
  min-height: 102vh;
  background: #FFF; }
  .Portfolio-title {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 2rem; }
  .Portfolio-main {
    display: flex; }
    @media (max-width: 980px) {
      .Portfolio-main {
        flex-direction: column; } }
  @media (max-width: 980px) {
    .Portfolio-menu {
      margin-bottom: 1rem; } }
  .Portfolio-menu-item {
    display: block;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: #111;
    cursor: pointer;
    opacity: 0.3; }
    .Portfolio-menu-item.is-active, .Portfolio-menu-item:hover {
      opacity: 1; }
    .Portfolio-menu-item.is-active {
      color: #0984e3; }
  .Portfolio-content {
    padding-left: 5rem; }
    @media (max-width: 980px) {
      .Portfolio-content {
        padding: 0; } }
    .Portfolio-content-item {
      display: none;
      font-size: 1.6rem;
      line-height: 1.6; }
      .Portfolio-content-item.is-active {
        display: block; }
      .Portfolio-content-item img {
        max-width: 100%;
        display: block;
        margin: 0 auto 2rem; }
      .Portfolio-content-item p {
        margin-bottom: 2rem; }
      .Portfolio-content-item blockquote {
        font-style: italic;
        margin-bottom: 1rem; }
        .Portfolio-content-item blockquote:before, .Portfolio-content-item blockquote:after {
          display: inline;
          color: #0984e3;
          font-style: normal; }
        .Portfolio-content-item blockquote:before {
          content: '\201C'; }
        .Portfolio-content-item blockquote:after {
          font-family: sans-serif;
          content: '\201D'; }
      .Portfolio-content-item small {
        display: block;
        font-size: 1rem;
        opacity: 0.6;
        margin-bottom: 2rem; }
        .Portfolio-content-item small strong {
          font-weight: bold; }
  .Portfolio-button {
    display: block;
    width: 16rem;
    padding: 1.5rem 1rem;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    background: #0984e3;
    color: #FFF; }
    .Portfolio-button.is-disabled {
      color: #888;
      border: 1px solid #444;
      background: none; }

.Contact {
  position: relative;
  z-index: 3;
  padding: 3rem;
  min-height: 102vh;
  background: #0984e3; }
  .Contact-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #FFF; }
  .Contact-main {
    display: flex; }
    @media (max-width: 980px) {
      .Contact-main {
        flex-direction: column; } }
  .Contact-form {
    position: relative;
    flex: 1 0 700px; }
    @media (max-width: 980px) {
      .Contact-form {
        flex-basis: 100%; } }
    .Contact-form-info {
      display: flex;
      margin-bottom: 1rem; }
      @media (max-width: 980px) {
        .Contact-form-info {
          flex-direction: column; } }
    .Contact-form input,
    .Contact-form textarea {
      display: block;
      width: calc(100% - 1rem);
      margin: 0 0.5rem;
      font-size: 1.4rem;
      padding: 0.8rem 0.8rem;
      border-radius: 2px;
      background: #FFF;
      border: none;
      resize: none;
      outline: none;
      font-weight: 300; }
    .Contact-form button {
      display: block;
      width: calc(100% - 1rem);
      margin: 1rem 0.5rem 0;
      padding: 1.5rem 2rem;
      font-size: 1rem;
      letter-spacing: 0.15rem;
      font-weight: 500;
      text-transform: uppercase;
      background: #111;
      border: none;
      color: #FFF; }
  .Contact-about {
    flex-shrink: 1;
    margin: 0 0.5rem 0 1rem;
    padding: 1.25rem;
    color: #FFF;
    border: 1px solid #FFF; }
    .Contact-about p {
      font-size: 1.5rem;
      line-height: 1.5;
      margin-bottom: 2rem; }
