/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
}

/* Custom variables */

$primary: #0984e3;
$primary-alt: #0984e3;
$dark: #111;

$screen-xs: 380px;
$screen-sm: 640px;
$screen-md: 980px;
$screen-lg: 1180px;

@mixin xs-query {
  @media (max-width: $screen-xs) { @content; }
}

@mixin sm-query {
  @media (max-width: $screen-sm) { @content; }
}

@mixin md-query {
  @media (max-width: $screen-md) { @content; }
}

@mixin lg-query {
  @media (max-width: $screen-lg) { @content; }
}

/* Custom styles */

html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: $dark;
  scroll-behavior: smooth;
  font-size: 16px;

  @include lg-query {
    font-size: 14px;
  }

  @include md-query {
    font-size: 13px;
  }

  @include sm-query {
    font-size: 12px;
  }

  @include xs-query {
    font-size: 11px;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

.Hero,
.HeroPlaceholder {
  height: 102vh;
}

.Hero {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $dark;
  color: #FFF;

  span {
    color: $primary;
  }

  &-inner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    max-width: 46rem;
  }

  &-title {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 3px rgba($dark, 1);
  }

  &-tagline {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-shadow: 0 0 3px rgba($dark, 1);
  }

  &-button {
    display: inline-block;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
    text-transform: uppercase;
    background: $primary;
    color: #FFF;
  }

  &-more {
    display: block;
    color: #FFF;
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }
}



.Portfolio {
  position: relative;
  z-index: 3;
  padding: 3rem 3rem 10rem;
  min-height: 102vh;
  background: #FFF;

  &-title {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &-main {
    display: flex;

    @include md-query {
      flex-direction: column;
    }
  }

  &-menu {
    @include md-query {
      margin-bottom: 1rem;
    }

    &-item {
      display: block;
      font-size: 2.2rem;
      margin-bottom: 1.5rem;
      color: $dark;
      cursor: pointer;
      opacity: 0.3;

      &.is-active,
      &:hover {
        opacity: 1;
      }

      &.is-active {
        color: $primary-alt;
      }
    }
  }

  &-content {
    padding-left: 5rem;

    @include md-query {
      padding: 0;
    }

    &-item {
      display: none;
      font-size: 1.6rem;
      line-height: 1.6;

      &.is-active {
        display: block;
      }

      img {
        max-width: 100%;
        display: block;
        margin: 0 auto 2rem;
      }

      p {
        margin-bottom: 2rem;
      }

      blockquote {
        font-style: italic;
        margin-bottom: 1rem;

        &:before,
        &:after {
          display: inline;
          color: $primary-alt;
          font-style: normal;
        }
        &:before {
          content: '\201C';
        }
        &:after {
          font-family: sans-serif;
          content: '\201D';
        }
      }
      
      small {
        display: block;
        font-size: 1rem;
        opacity: 0.6;
        margin-bottom: 2rem;

        strong {
          font-weight: bold;
        }
      }
    }
  }

  &-button {
    display: block;
    width: 16rem;
    padding: 1.5rem 1rem;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    background: $primary-alt;
    color: #FFF;

    &.is-disabled {
      color: #888;
      border: 1px solid #444;
      background: none;
    }
  }
}



.Contact {
  position: relative;
  z-index: 3;
  padding: 3rem;
  min-height: 102vh;
  background: $primary;

  &-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #FFF;
  }

  &-main {
    display: flex;

    @include md-query {
      flex-direction: column;
    }
  }

  &-form {
    position: relative;
    flex: 1 0 700px;

    @include md-query {
      flex-basis: 100%;
    }

    &-info {
      display: flex;
      margin-bottom: 1rem;

      @include md-query {
        flex-direction: column;
      }
    }

    input,
    textarea {
      display: block;
      width: calc(100% - 1rem);
      margin: 0 0.5rem;
      font-size: 1.4rem;
      padding: 0.8rem 0.8rem;
      border-radius: 2px;
      background: #FFF;
      border: none;
      resize: none;
      outline: none;
      font-weight: 300;
    }

    button {
      display: block;
      width: calc(100% - 1rem);
      margin: 1rem 0.5rem 0;
      padding: 1.5rem 2rem;
      font-size: 1rem;
      letter-spacing: 0.15rem;
      font-weight: 500;
      text-transform: uppercase;
      background: $dark;
      border: none;
      color: #FFF;
    }
  }

  &-about {
    flex-shrink: 1;
    margin: 0 0.5rem 0 1rem;
    padding: 1.25rem;
    color: #FFF;
    border: 1px solid #FFF;

    p {
      font-size: 1.5rem;
      line-height: 1.5;
      margin-bottom: 2rem;
    }
  }
}