/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
}

/* Custom variables */

$primary: #0984e3;
$primary-alt: #0984e3;
$dark: #020122;

$screen-xs: 380px;
$screen-sm: 640px;
$screen-md: 980px;
$screen-lg: 1180px;

@mixin xs-query {
  @media (max-width: $screen-xs) { @content; }
}

@mixin sm-query {
  @media (max-width: $screen-sm) { @content; }
}

@mixin md-query {
  @media (max-width: $screen-md) { @content; }
}

@mixin lg-query {
  @media (max-width: $screen-lg) { @content; }
}

/* Custom styles */

html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #FFF;
  background-color: $dark;
  background-image: url(./images/bg-hex.png);
  background-position: top;
  background-size: 1921px 53px;
  scroll-behavior: smooth;
  font-size: 16px;

  @include lg-query {
    font-size: 14px;
  }

  @include md-query {
    font-size: 13px;
  }

  @include sm-query {
    font-size: 12px;
  }

  @include xs-query {
    font-size: 11px;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

.Hero {
  position: relative;
  display: flex;
  height: 102vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  color: #FFF;

  span {
    color: $primary;
  }

  &-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50vh;
    background: linear-gradient(to bottom, transparent 0%, $dark 50%, transparent 100%);
    transform: translateY(50%);
    pointer-events: none;
  }

  &-inner {
    padding: 1rem;
    max-width: 46rem;
    margin-bottom: 5vh;

    @include sm-query {
      max-width: 40rem;
    }
  }

  &-title {
    font-size: 6rem;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 2px $dark, 0 0 1px $dark;

    @include sm-query {
      font-size: 5.4rem;
    }

    @include xs-query {
      font-size: 4rem;
    }
  }

  &-tagline {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-shadow: 0 0 2px $dark, 0 0 1px $dark;

    @include sm-query {
      font-size: 1.8rem;
    }

    @include xs-query {
      font-size: 1.6rem;
    }
  }

  &-button {
    display: inline-block;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
    text-transform: uppercase;
    background: $primary;
    color: #FFF;

    @include sm-query {
      padding: 2rem 3rem;
      font-size: 1.4rem;
    }
  }

  &-more {
    display: block;
    color: #CCC;
    text-shadow: 0 0 2px rgba($dark, 1);
    font-size: 1rem;

    @include sm-query {
      font-size: 1.2rem;
    }

    &:hover {
      color: #FFF;
    }
  }

  .vanta-canvas {
    @include md-query {
      transform: scale(1.2);
    }

    @include sm-query {
      transform: scale(1.4);
    }

    @include xs-query {
      transform: scale(1.6);
    }
  }
}



.Portfolio {
  padding: 25vh 2rem 10rem;
  min-height: 102vh;
  max-width: 1220px;
  margin: 0 auto;

  &-title {
    font-size: 3.6rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 5rem;
    text-align: center;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
  }

  &-item {
    flex: 1;
    min-width: 280px;
    margin: 1rem;

    &-img {
      width: 100%;
      max-height: 90vh;
      max-width: 480px;
      margin-bottom: 1rem;
      border-radius: 8px;
      background-position: center;
      background-size: cover;

      &:after {
        content: '';
        display: block;
        padding-top: 140%;
      }
    }

    &-title {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
      color: #FFF;
    }

    &-desc {
      font-size: 1rem;
      color: #FFF;
      opacity: 0.8;
    }
  }
}


.Experience {
  padding: 10rem 0;

  &-title {
    font-size: 2.6rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
  }

  &-logos {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
      margin: 1.5rem 2.5rem;
      opacity: 0.5;
    }
  }
}


.Contact {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  &-title {
    font-size: 2.6rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #FFF;
  }

  &-button {
    display: block;
    max-width: 300px;
    padding: 1.5rem 2rem;
    margin: 0 auto;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
    text-transform: uppercase;
    background: $primary;
    color: #FFF;

    @include sm-query {
      padding: 2rem 3rem;
      font-size: 1.4rem;
    }
  }
}